@font-face
{
    font-family: 'Raleway';
    src: url('polices/Raleway-Italic-VariableFont_wght.ttf') format('ttf')
         url('polices/Raleway-VariableFont_wght.ttf') format('ttf')
}
body
{
   display: flex;
}
#page
{
   width: 992px;
   margin: auto;
}