@font-face
{
    font-family: 'Raleway';
    src: url('asset/fonts/Raleway.ttf'),
            url('asset/fonts/Raleway-Black.ttf'),
            url('asset/fonts/Raleway-BlackItalic.ttf'),
            url('asset/fonts/Raleway-Bold.ttf'),
            url('asset/fonts/Raleway-BoldItalic.ttf'),
            url('asset/fonts/Raleway-ExtraBold.ttf'),
            url('asset/fonts/Raleway-ExtraBoldItalic.ttf'),
            url('asset/fonts/Raleway-ExtraLight.ttf'),
            url('asset/fonts/Raleway-ExtraLightItalic.ttf'),
            url('asset/fonts/Raleway-Italic'),
            url('asset/fonts/Raleway-Italic-VariableFont_wght.ttf'),
            url('asset/fonts/Raleway-Light.ttf'),
            url('asset/fonts/Raleway-LightItalic.ttf'),
            url('asset/fonts/Raleway-Medium.ttf'),
            url('asset/fonts/Raleway-MediumItalic.ttf'),
            url('asset/fonts/Raleway-Regular.ttf'),
            url('asset/fonts/Raleway-SemiBold.ttf'),
            url('asset/fonts/Raleway-SemiBoldItalic.ttf'),
            url('asset/fonts/Raleway-Thin.ttf'),
            url('asset/fonts/Raleway-ThinItalic.ttf');
}
body
{
   display: flex;
}
#page
{
   width: 992px;
   margin: auto;
}
.booki
{
   width: 60%;
   padding-bottom: 20px;
}
body
{
   font-family: 'Raleway', sans-serif;
   font-weight: normal;
}
header
{
   display: flex;
   width: 100%;
}
nav ul
{
   list-style-type: none;
   display: flex;
   padding-left: 550px;
}
nav li
{
   margin-right: 30px;
}
nav a
{
   font-size: 17px;
   color: black;
   text-decoration: none;
}
nav a:hover
{
   color:#0065FC;
   border-top: 3px solid #0065FC;
   padding-top: 22px;
   padding-left: 10px;
   padding-right: 10px;
}
h1
{
   font-size: 16px;
}
p1
{
   font-size: 15px;
}
#localisation
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
#localisation i
{
   height: 27px;
   width: 35px;
   border-left: 2px solid #F4F4F4;
   border-top: 2px solid #F4F4F4;
   border-bottom: 2px solid #F4F4F4;
   border-radius: 10px 0px 0px 10px;
   background-color: #F4F4F4;
   font-size: 15px;
   padding-top: 7px;
}
#marseille
{
   height: 27px;
   width: 205px;
   border-top: 2px solid #F4F4F4;
   border-bottom: 2px solid #F4F4F4;
   border-left: 2px solid #F4F4F4;
   font-size: 16px;
   padding-top: 7px;
   font-weight: bold;
   margin-left: -25px;
}
#bouton_bleu
{
   height: 27px;
   width: 95px;
   border: 2px solid #0065FC;
   border-radius: 0px 10px 10px 0px;
   background-color: #0065FC;
   padding-top: 7px;
}
#bouton_bleu a
{
   font-size: 16px;
   text-decoration: none;
   color: white;
}
#filtres
{
   display: flex;
   font-size: 16px;
   position: absolute;
   padding-top: 10px;
}
.titre
{
   display: flex;
   position: relative;
   font-weight: bold;
   font-size: 17px;
}
#filtre1 .ig
{
   position: relative;
   z-index: 1;
   border: 2px solid #DEEBFF;
   border-radius: 50%;
   font-size: 15px;
   padding: 10px;
   margin-left: 10px;
   background-color: #DEEBFF;
}
#filtre1 a
{
   text-decoration: none;
   margin-left: -42px;
   color: black;
   font-weight: bold;
   font-size: 14px;
   padding: 10.5px 13px 10px 50px;
   border: 2px solid #E6E6E6;
   border-radius: 20px 20px 20px 20px;
}
#filtre2 .ig
{
   position: relative;
   z-index: 1;
   border: 2px solid #DEEBFF;
   border-radius: 50%;
   font-size: 15px;
   padding: 10px 12px 10px 12px;
   margin-left: 20px;
   background-color: #DEEBFF;
}
#filtre2 a
{
   text-decoration: none;
   margin-left: -39px;
   color: black;
   font-weight: bold;
   font-size: 14px;
   padding: 10.5px 15px 10px 47px;
   border: 2px solid #E6E6E6;
   border-radius: 20px 20px 20px 20px;
}
#filtre3 .ig
{
   position: relative;
   z-index: 1;
   border: 2px solid #DEEBFF;
   border-radius: 50%;
   font-size: 15px;
   padding: 10px 12px 10px 12px;
   margin-left: 20px;
   background-color: #DEEBFF;
}
#filtre3 a
{
   text-decoration: none;
   margin-left: -39px;
   color: black;
   font-weight: bold;
   font-size: 14px;
   padding: 10.5px 15px 10px 47px;
   border: 2px solid #E6E6E6;
   border-radius: 20px 20px 20px 20px;
}
#filtre4 .ig
{
   position: relative;
   z-index: 1;
   border: 2px solid #DEEBFF;
   border-radius: 50%;
   font-size: 15px;
   padding: 10px 12px 10px 12px;
   margin-left: 20px;
   background-color: #DEEBFF;
}
#filtre4 a
{
   text-decoration: none;
   margin-left: -39px;
   color: black;
   font-weight: bold;
   font-size: 14px;
   padding: 10.5px 15px 10px 47px;
   border: 2px solid #E6E6E6;
   border-radius: 20px 20px 20px 20px;
}
.info
{
   display: flex;
   position: relative;
   bottom: 3px;
}
#info_filtre p
{
   padding-top: 35px;
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
}
#info_filtre p i
{
   margin-right: 8px;
   height: 17px;
   width: 22px;
   border: 1px solid #C6C6C6;
   border-radius: 50%;
   font-size: 11px;
   padding-top: 5px;
   margin-top: 20px;
}
section
{
   display: flex;
   margin-bottom: 50px;
   margin-top: 20px;
}
article
{
   height: 500px;
   width: 880px;
   padding-left: 25px;
   padding-top: 5px;
   background-color: #F4F4F4;
   border-radius: 20px;
   padding-right: 25px;
   font-size: 13px;
}
#les_hebergements
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: -15px;
   margin-right: -10px;
}
#les_hebergements p
{
   text-align: justify;
   background-color: white;
   height: 170px;
   width: 180px;
   border-radius: 20px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 1px;
   margin-right: 13px;
   box-shadow: 1px 1px 10px gray;
}
#les_hebergements img
{
   object-fit: cover;
   height: 95px;
   width: 100%;
   border-radius: 15px 15px 0px 0px;
   margin-top: 4px;
}
section a
{
   text-decoration: none;
   color: black;
}
.nom
{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   left: 7px;
   font-size: 13px;
   font-weight: bold;
}
.nuit
{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   left: 7px;
   top: 5px;
}
.étoile
{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   left: 7px;
   top: 15px;
   font-size: 11px;
}
#les_plus_populaires img
{
   float: left;
   object-fit: cover;
   height: 120px;
   width: 40%;
   border-radius: 15px 0px 0px 15px;
   margin-left: 5px;
}
.premier
{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   top: 8px;
   left: 11px;
   font-size: 15px;
   font-weight: bold;
}
.prix
{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   left: 11px;
}
.star
{
   position: relative;
   left: 11px;
   top: 14px;
   font-size: 11px;
}
aside
{
   height: 507px;
   width: 430px;
   background-color: #F4F4F4;
   border-radius: 20px;
   margin-left: 25px;
   font-size: 13px;
   position: relative;
   padding-left: 23px;
}
h4
{
   font-size: 15px;
   margin-top: 15px;
}
#classement
{
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   top: 23px;
   left: 87%;
   font-size: 16px;
   justify-content: space-between;
}
h2
{
   padding-left: 5px;
   font-size: 16px;
   margin-top: 20px;
}
h3
{
   padding-left: 5px;
   font-size: 16px;
   margin-top: 20px;
}
#les_plus_populaires p
{
   background-color: white;
   text-align: left;
   height: 125px;
   width: 265px;
   border-radius: 20px;
   margin-bottom: -10px;
   padding-top: 5px;
   box-shadow: 1px 1px 10px gray;
}
#Activités
{
   display: flex;
   justify-content: space-between;
   height: 400px;
   width: 100%;
   text-align: left;
   padding-bottom: 30px;
   padding-top: 15px;
}
#p1
{
   height: 400px;
   width: 23%;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#p1 a
{
   text-decoration: none;
   color: black;
}
.vieux
{
   position: relative;
   top: 8px;
   left: 15px;
   font-size: 15px;
   font-weight: bold;
}
#img1
{
   object-fit: cover;
   height: 360px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   margin-top: -18px;
}
#p2
{
   height: 386px;
   width: 22%;
   margin-top: -17px;
}
#p2 a
{
   text-decoration: none;
   color: black;
}
.fort
{
   position: relative;
   top: 3px;
   left: 15px;
   font-size: 15px;
   font-weight: bold;
}
.iles
{
   position: relative;
   top: 3px;
   left: 15px;
   font-size: 15px;
   font-weight: bold;
}
#p2 p
{
   height: 50%;
   width: 100%;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#img2
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
#img3
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
#p3
{
   height: 400px;
   width: 23%;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#p3 a
{
   text-decoration: none;
   color: black;
}
.parc
{
   position: relative;
   top: 6px;
   left: 10px;
   font-size: 15px;
   font-weight: bold;
}
#img4
{
   object-fit: cover;
   height: 360px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   margin-top: -18px;
}
#p4
{
   height: 400px;
   width: 22%;
   margin-top: -17px;
}
#p4 a
{
   text-decoration: none;
   color: black;
}
.notre
{
   position: relative;
   top: 3px;
   left: 15px;
   font-size: 15px;
   font-weight: bold;
}
.longchamp
{
   position: relative;
   top: 2px;
   left: 15px;
   font-size: 15px;
   font-weight: bold;
}
#p4 p
{
   height: 48%;
   width: 100%;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#img5
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
#img6
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
footer
{
   display: flex;
   padding-top: 10px;
   background-color: #F4F4F4;
}
footer p
{
   font-size: 14px;
}
footer h5
{
   font-size: 15px;
}
#A_propos
{
   width: 33%;
   margin-left: 40px;
   margin-bottom: 25px;
}
#Nos_hébergements
{
   width: 33%
}
#Assistance
{
   width: 33%;
}
@media screen and (max-width: 425px)
{
   body
   {
      width: 100%;
   }
   #page
   {
      width: 100%;
   }
   header
   {
      display: block;
   }
   .booki
   {
      width: 40%;
      padding: 0px 100px 0px 140px;
   }
   #bloc_haut_de_page
   {
      width: auto;
   }
   nav ul
   {
      width: 100%;
      padding-left: 0px;
      padding-bottom: 10px;
      border-bottom: 3px solid #F4F4F4;
   }
   nav li
   {
      padding-right: 50px;
   }
   nav a:hover
   {
      color: #0065FC;
      padding-bottom: 10px;
      border-bottom: 3px solid #0065FC;
      border-top: white;
      padding-left: 30px;
      padding-right: 30px;
   }
   #filtres
   {
      position: absolute;
      width: 100%;
   }
   .titre
   {
      position: relative;
      left: 10px;
   }
   #filtre1 .ig
   {
      position: relative;
      top: 45px;
      left: -55px;
   }
   #filtre1 a
   {
      position: relative;
      top: 26px;
   }
   #filtre2 .ig
   {
      position: relative;
      top: 45px;
   }
   #filtre2 a
   { 
      position: relative;
      top: 26px;
      left: 60px;
   }
   #filtre3 .ig
   {
      position: relative;
      top: 95px;
      right: 257px;
   }
   #filtre3 a
   {
      position: relative;
      top: 76px;
      right: 190px;
   }
   #filtre4 .ig
   {
      position: relative;
      top: 145px;
      right: 368px;
   }
   #filtre4 a
   {
      display: flex;
      position: relative;
      width: 130px;
      height: 17px;
      top: 115px;
      right: 300px;
   }
   #info_filtre
   {
      position: relative;
      height: 80px;
      top: 150px;
      left: 10px;
   }
   .info
   {
      position: relative;
      font-size: 17px;
      top: 19px;
      left: -17px;
   }
   section
   {
      position: relative;
      top: 170px;
      height: 2500px;
   }
   article
   {
      position: relative;
      top: 600px
   }
   aside
   {
      position: relative;
      left: -300px;
   }
   #Activités
   {
      position: relative;
      flex-direction: column;
      justify-content: center;
      height: 1250px;
      width: 350%;
      left: 35px;
   }
   #Activité
   {
      font-size: 20px;
      position: relative;
      left: 35px;
      font-weight: normal;
   }
   #p1
   {
      height: 180px;
      margin-bottom: 20px;
   }
   #img1
   {
      height: 140px;
   }
   #p2
   {
      width: 315px;
      margin-bottom: 50px;
   }
   #img2
   {
      height: 150px;
   }
   #img3
   {
      height: 150px;
   }
   #p3
   {
      height: 180px;
      margin-bottom: 20px;
   }
   #img4
   {
      height: 140px;
   }
   #p4
   {
      width: 315px;
      margin-bottom: 50px;
   }
   #img5
   {
      height: 150px;
   }
   #img6
   {
      height: 150px;
   }
   footer
   {
      margin-left: -10px;
      flex-direction: column;
      height: 550px;
      width: 110%;
   }
   #Nos_hébergements
   {
      position: relative;
      left: 40px;
   }
   #Assistance
   {
      position: relative;
      left: 40px;
   }
}