@font-face
{
    font-family: 'Raleway';
    src: url('asset/fonts/Raleway-Italic-VariableFont_wght.ttf') format('ttf')
         url('asset/fonts/Raleway-VariableFont_wght.ttf') format('ttf')
}
body
{
   display: flex;
}
#page
{
   width: 992px;
   margin: auto;
}
.booki
{
   width: 60%;
   padding-bottom: 20px;
}
body
{
   font-family: 'Raleway', sans-serif;
   font-weight: normal;
}
header
{
   display: flex;
}
nav ul
{
   list-style-type: none;
   display: flex;
   padding-left: 550px;
}
nav li
{
   margin-right: 30px;
}
nav a
{
   font-size: 17px;
   color: black;
   text-decoration: none;
}
nav a:hover
{
   color:#0065FC;
   border-top: 2px solid #0065FC;
   padding-top: 22px;
   padding-left: 10px;
   padding-right: 10px;
}
h1
{
   font-size: 16px;
}
p1
{
   font-size: 15px;
}
#localisation
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
#localisation i
{
   height: 27px;
   width: 35px;
   border-left: 2px solid #F4F4F4;
   border-top: 2px solid #F4F4F4;
   border-bottom: 2px solid #F4F4F4;
   border-radius: 10px 0px 0px 10px;
   background-color: #F4F4F4;
   font-size: 15px;
   padding-top: 7px;
}
#marseille
{
   height: 27px;
   width: 205px;
   border-top: 2px solid #F4F4F4;
   border-bottom: 2px solid #F4F4F4;
   border-left: 2px solid #F4F4F4;
   font-size: 16px;
   padding-top: 7px;
}
#bouton_bleu
{
   height: 27px;
   width: 95px;
   border: 2px solid #0065FC;
   border-radius: 0px 10px 10px 0px;
   background-color: #0065FC;
   padding-top: 7px;
}
#bouton_bleu a
{
   font-size: 16px;
   text-decoration: none;
   color: white;
}
#filtres
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
   font-size: 16px;
}
p1
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
}
p1 i
{
   margin-right: 8px;
   height: 17px;
   width: 22px;
   border: 1px solid #C6C6C6;
   border-radius: 50%;
   font-size: 11px;
   padding-top: 5px;
   margin-top: 20px;
}
section
{
   display: flex;
   margin-bottom: 50px;
   margin-top: 20px;
}
article
{
   height: 430px;
   width: 550px;
   padding-left: 25px;
   padding-top: 5px;
   background-color: #F4F4F4;
   border-radius: 20px;
   padding-right: 25px;
   font-size: 13px;
}
#les_hebergements
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#les_hebergements p
{
   background-color: white;
   height: 130px;
   width: 170px;
   border-radius: 20px;
}
aside
{
   height: 436px;
   width: 300px;
   background-color: #F4F4F4;
   border-radius: 20px;
   margin-left: 30px;
   font-size: 13px;
   position: relative;
   padding-left: 25px;
}
h4
{
   font-size: 15px;
   margin-top: 15px;
}
#classement
{
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   top: 4%;
   left: 87%;
   font-size: 16px;
   justify-content: space-between;
}
#les_plus_populaires p
{
   background-color: white;
   height: 90px;
   width: 250px;
   border-radius: 20px;
   margin-left: 10px;
}
