@font-face
{
    font-family: 'Raleway';
    src: url('polices/Raleway-Italic-VariableFont_wght.ttf') format('ttf')
         url('polices/Raleway-VariableFont_wght.ttf') format('ttf')
}
body
{
   display: flex;
}
#page
{
   width: 992px;
   margin: auto;
}
body
{
   font-family: 'Raleway', serif;
   font-weight: normal;
}
header
{
   display: flex;
}
nav ul
{
   list-style-type: none;
   display: flex;
   padding-left: 500px;
}
nav li
{
   margin-left: 40px;
}