@font-face
{
    font-family: 'Raleway';
    src: url('asset/fonts/Raleway-Italic-VariableFont_wght.ttf') format('ttf')
         url('asset/fonts/Raleway-VariableFont_wght.ttf') format('ttf')
}
body
{
   display: flex;
}
#page
{
   width: 992px;
   margin: auto;
}
.booki
{
   width: 60%;
   padding-bottom: 20px;
}
body
{
   font-family: 'Raleway', sans-serif;
   font-weight: normal;
}
header
{
   display: flex;
}
nav ul
{
   list-style-type: none;
   display: flex;
   padding-left: 500px;
}
nav li
{
   margin-right: 50px;
}
nav a
{
   font-size: 17px;
   color: black;
   text-decoration: none;
}
nav a:hover
{
   color:#0065FC;
   border-top: 2px solid #0065FC;
   padding-top: 22px;
}
h1
{
   font-size: 16px;
}
p
{
   font-size: 15px;
}
#localisation
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
}
#localisation i
{
   height: 35px;
   width: 35px;
   border-left: 2px solid #E1E1E1;
   border-top: 2px solid #E1E1E1;
   border-bottom: 2px solid #E1E1E1;
   border-radius: 6px 0px 0px 6px;
   background-color: #E1E1E1;
   font-size: 19px;
}
#marseille
{
   height: 35px;
   width: 205px;
   border-top: 2px solid #E1E1E1;
   border-bottom: 2px solid #E1E1E1;
   border-left: 2px solid #E1E1E1;
   font-size: 16px;
}
#bouton_bleu
{
   height: 35px;
   width: 95px;
   border: 2px solid #0065FC;
   border-radius: 0px 6px 6px 0px;
   background-color: #0065FC;
}
#bouton_bleu a
{
   font-size: 16px;
   text-decoration: none;
   color: white;
}