@font-face
{
    font-family: 'Raleway';
    src: url('asset/fonts/Raleway-Italic-VariableFont_wght.ttf') format('ttf')
         url('asset/fonts/Raleway-VariableFont_wght.ttf') format('ttf')
}
body
{
   display: flex;
}
#page
{
   width: 992px;
   margin: auto;
}
.booki
{
   width: 60%;
   padding-bottom: 20px;
}
body
{
   font-family: 'Raleway', sans-serif;
   font-weight: normal;
}
header
{
   display: flex;
   width: 100%;
}
nav ul
{
   list-style-type: none;
   display: flex;
   padding-left: 550px;
}
nav li
{
   margin-right: 30px;
}
nav a
{
   font-size: 17px;
   color: black;
   text-decoration: none;
}
nav a:hover
{
   color:#0065FC;
   border-top: 2px solid #0065FC;
   padding-top: 22px;
   padding-left: 10px;
   padding-right: 10px;
}
h1
{
   font-size: 16px;
}
p1
{
   font-size: 15px;
}
#localisation
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
#localisation i
{
   height: 27px;
   width: 35px;
   border-left: 2px solid #F4F4F4;
   border-top: 2px solid #F4F4F4;
   border-bottom: 2px solid #F4F4F4;
   border-radius: 10px 0px 0px 10px;
   background-color: #F4F4F4;
   font-size: 15px;
   padding-top: 7px;
}
#marseille
{
   height: 27px;
   width: 205px;
   border-top: 2px solid #F4F4F4;
   border-bottom: 2px solid #F4F4F4;
   border-left: 2px solid #F4F4F4;
   font-size: 16px;
   padding-top: 7px;
}
#bouton_bleu
{
   height: 27px;
   width: 95px;
   border: 2px solid #0065FC;
   border-radius: 0px 10px 10px 0px;
   background-color: #0065FC;
   padding-top: 7px;
}
#bouton_bleu a
{
   font-size: 16px;
   text-decoration: none;
   color: white;
}
#filtres
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
   font-size: 16px;
}
p1
{
   display: flex;
   justify-content: justify;
   align-items: flex-end;
   text-align: center;
}
p1 i
{
   margin-right: 8px;
   height: 17px;
   width: 22px;
   border: 1px solid #C6C6C6;
   border-radius: 50%;
   font-size: 11px;
   padding-top: 5px;
   margin-top: 20px;
}
section
{
   display: flex;
   margin-bottom: 50px;
   margin-top: 20px;
}
article
{
   height: 500px;
   width: 880px;
   padding-left: 25px;
   padding-top: 5px;
   background-color: #F4F4F4;
   border-radius: 20px;
   padding-right: 25px;
   font-size: 13px;
}
#les_hebergements
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: -15px;
   margin-right: -10px;
}
#les_hebergements p
{
   text-align: justify;
   background-color: white;
   height: 165px;
   width: 200px;
   border-radius: 20px;
   padding-left: 3px;
}
#les_hebergements img
{
   width: 98%;
   height: 60%;
   border-radius: 15px 15px 0px 0px;
   margin-top: 4px;
}
#les_plus_populaires img
{
   float: left;
   width: 105px;
   height: 105px;
   border-radius: 15px 0px 0px 15px;
   margin-top: 1px;
   margin-left: 5px;
}
aside
{
   height: 507px;
   width: 430px;
   background-color: #F4F4F4;
   border-radius: 20px;
   margin-left: 25px;
   font-size: 13px;
   position: relative;
   padding-left: 23px;
}
h4
{
   font-size: 15px;
   margin-top: 15px;
}
#classement
{
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   top: 5%;
   left: 87%;
   font-size: 16px;
   justify-content: space-between;
}
h2
{
   padding-left: 5px;
   font-size: 16px;
   margin-top: 20px;
}
#les_plus_populaires p
{
   background-color: white;
   text-align: left;
   height: 125px;
   width: 265px;
   border-radius: 20px;
   margin-bottom: -10px;
   padding-top: 5px;
}
#Activités
{
   display: flex;
   justify-content: space-between;
   height: 400px;
   width: 100%;
   text-align: left;
   padding-bottom: 30px;
}
#p1
{
   height: 400px;
   width: 23%;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#img1
{
   object-fit: cover;
   height: 360px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   margin-top: -18px;
}
#p2
{
   height: 386px;
   width: 22%;
   margin-top: -17px;
}
#p2 p
{
   height: 50%;
   width: 100%;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#img2
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
#img3
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
#p3
{
   height: 400px;
   width: 23%;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#img4
{
   object-fit: cover;
   height: 360px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   margin-top: -18px;
}
#p4
{
   height: 400px;
   width: 22%;
   margin-top: -17px;
}
#p4 p
{
   height: 48%;
   width: 100%;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 1px 1px 10px gray;
   border-radius: 20px;
}
#img5
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
#img6
{
   object-fit: cover;
   height: 160px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}
footer
{
   display: flex;
   padding-top: 10px;
   background-color: #F4F4F4;
}
footer p
{
   font-size: 14px;
}
footer h5
{
   font-size: 15px;
}
#A_propos
{
   width: 33%;
   margin-left: 40px;
   margin-bottom: 25px;
}
#Nos_hébergements
{
   width: 33%
}
#Assistance
{
   width: 33%;
}