@font-face
{
    font-family: 'Raleway';
    src: url('asset/fonts/Raleway-Italic-VariableFont_wght.ttf') format('ttf')
         url('asset/fonts/Raleway-VariableFont_wght.ttf') format('ttf')
}
body
{
   display: flex;
}
#page
{
   width: 992px;
   margin: auto;
}
body
{
   font-family: 'Raleway', sans-serif;
   font-weight: normal;
}
header
{
   display: flex;
}
nav ul
{
   list-style-type: none;
   display: flex;
   padding-left: 500px;
}
nav li
{
   margin-right: 50px;
}
nav a
{
   font-size: 17px;
   color: black;
   text-decoration: none;
}
nav a:hover
{
   color:#0065FC;
   border-top: 2px solid #0065FC;
   padding-top: 22px;
}